<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matrix Generator</title>
</head>
<body>
<h1 align="center"> Matrix Generator</h1>
<div align="center">

    <form  th:action="@{/}" method="post" th:object="${matrix}">
        <label >Column Number</label>
        <input type="number" th:field="*{column}" th:max="50"/>
        <label >Row Number</label>
        <input type="number" th:field="*{row}" th:max="50"/>
        <input type="submit" value="Generate">
    </form>
</div>
<div align="center">
    <h1> Matrix Results</h1>
    </br>

    <table align="center" >
        <form  th:action="@{/}" method="post" th:object="${matrix}">
            <tr th:each="values :${array}">
                <th:block th:each="val :${values}">
                    <td th:text="${val}"></td>
                </th:block>
            </tr>
        </form>
    </table>
</div>
</body>
</html>